*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
}

:root {
  font-family: "Manrope", Arial, sans-serif;
  line-height: 1.5;
  color: #f8f7ff;
  background-color: #080a16;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background-color: #080a16;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: transparent;
  border-radius: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

textarea {
  resize: vertical;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

#root {
  min-height: 100vh;
}
